- name: Deploy platforma de monitorizare
  hosts: frontend
  become: true

  vars:
    monitor_dir: "/home/ansible/platforma-monitorizare"

  tasks:
    - name: Creeaza directorul proiectului
      file:
        path: "{{ monitor_dir }}"
        state: directory
        owner: ansible
        group: ansible

    - name: Creeaza directorul sysmonitor
      file:
        path: "{{ monitor_dir }}/sysmonitor"
        state: directory
        owner: ansible
        group: ansible

    - name: Copiaza compose.yml
      copy:
        src: "../../platforma-monitorizare/compose.yml"
        dest: "{{ monitor_dir }}/compose.yml"
        owner: ansible
        group: ansible

    - name: Ruleaza docker compose
      community.docker.docker_compose:
        project_src: "{{ monitor_dir }}"
        state: present